
html {
  box-sizing: border-box;
  font-weight: 900;
  font-size: 10px;
  color: var(--darkGrey);
  background-color: lightgrey;
}

.blank{
  background-color: none;
  border:0;
  height:200px;
}
.user a{
  text-decoration: none;
  text-align: center;
  color: inherit;
}
.container{
  left:0;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(10, 100%);
}

.item {
  left:0;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.00);
  border-radius: 3px;
  font-size: 35px;
  background-color:none;
  float: right;
}

.item p {
  margin: 0 0 5px 0;
  font-size: 20px;
  font-family: 'Poiret One', cursive;
  margin-bottom: 20px;
  border-bottom: solid darkgrey 1px;
  color: black;
}



.item2{
  grid-row: 1 / span 5;
grid-column: span 2;
  width: 100%;
  background-image: url('../assets/brickbg.jpg');
}

.item2 h1{
  font-family: 'Courgette', cursive;
}

.item2 h3{
  margin: 0 0 5px 0;
  font-size: 25px;
  font-family: 'Poiret One', cursive;
  margin-bottom: 20px;
  border-bottom: solid darkgrey 1px;
  color: black;
  font-weight: 1000;
}

.item2 h6{
  text-decoration: none;
  font-size: 15px;
  font-family: 'Poiret One', cursive;
  top:0;
}



.item4{
  grid-row: auto;
  display: block;
margin-left: auto;
margin-right: 0;
  max-width: 280px

}

.myslides{
  display: none;
  right: 0px;
  max-width:100px;
}
.myslides2{
  display: none;
  right: 0px;
  max-width:100px;
}


.item5 p{
  font-size: 17px;
  border: 0;
  text-align: center;
  max-width: 300px;
}

.item5 h3{
  font-size: 50px;
  border: 0;
  text-align: center;
  max-width: 500px;
  font-family: 'Poiret One', cursive;
}



.item8{
  background-color: grey;
  grid-column: 1/ span 2;

  text-align: center;

}



a{
  padding-bottom: 10px;
}

#user{
  float: right;
}

#instafeed img{
  border: 3px solid white;


}
