
html {
  box-sizing: border-box;
  font-weight: 900;
  font-size: 10px;
  color: var(--darkGrey);
  background-color: lightgrey;
}

.spacer{
  background-color: none;
  border:0;
  height:200px;
}

.blank{
  background-color: none;
  border:0;
  height:100px;
  grid-column: span 2;
}

@media (max-width: 800px) {
      .blank {
        height:50px!important;
      }
    }


.blankline{
  background-color: none;
  border:0;
  height:100px;
  border-top: 1px solid darkgrey ;
  grid-column: span 2;
}

@media (max-width: 800px) {
      .blankline {
        height:50px!important;
      }
    }


.user a{
  text-decoration: none;
  text-align: center;
  color: inherit;
}
.container{
  left:0;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(10, 100%);
}

.item {
  left:0;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.00);
  border-radius: 3px;
  font-size: 35px;
  background-color:none;
  float: right;
}

.item p {
  margin: 0 0 5px 0;
  font-size: 20px;
  font-family: 'Poiret One', cursive;
  margin-bottom: 20px;
  border-bottom: solid darkgrey 1px;
  color: black;
}



.item2{
  grid-row: 1 / span 5;
  grid-column: span 2;
  width: 99.5%;
  background-image: url('../assets/brickbg.jpg');
  position: static;
}

.item2 h1{
  font-family: 'Courgette', cursive;
}

.item2 h6{
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Poiret One', cursive;
  top:0;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.item2 p{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
}




.item4{
  grid-row: auto;
  display: block;
  margin-left: auto;
  margin-right: 0;
  max-width: 280px;
  margin-top: auto;
  margin-bottom: auto;

}

.myslides{
  display: none;
  right: 0px;
  max-width:100px;
}
.myslides2{
  display: none;
  right: 0px;
  max-width:100px;
}


.item5 p{
  font-size: 17px;
  border: 0;
  max-width: 300px;
  margin-right: auto;
  left:0;
}

@media (max-width: 800px) {
      .item5 p {
        font-size: 15px!important;
      }
    }


.item5 h3{
  font-size: 50px;
  border: 0;
  max-width: 500px;
  font-family: 'Poiret One', cursive;
  margin-right: auto;
  left:0;
}

@media (max-width: 800px) {
      .item5 h3 {
        font-size: 25px!important;
      }
    }


.item6{
  grid-row: auto;
  display: block;
  margin-left: auto;
  margin-right: 0;
  max-width:500px;
  margin-top: auto;
  margin-bottom: auto;

}


@media (max-width: 800px) {
      .item6 img {
        max-width: 280px!important;
      }
    }

.item7 p{
  font-size: 17px;
  border: 0;
  max-width: 300px;
  margin-right: auto;
  left:0;
}

@media (max-width: 800px) {
      .item7 p {
        font-size: 15px!important;
      }
    }

.item7 h3{
  font-size: 50px;
  border: 0;
  max-width: 500px;
  font-family: 'Poiret One', cursive;
  padding-right: auto;
  left:0;
}
@media (max-width: 800px) {
      .item7 h3 {
        font-size: 25px!important;
      }
    }

.item8{
  background-color: grey;
  grid-column: 1/ span 2;

  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.item9{
  background-color: grey;
  grid-column:  span 2;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.item9 p{
  max-width: 500px;
}

.item9 img{
  border-radius: 50%;
  width:35%;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #33ccff;
}

.footer{
  background-color: #33ccff;
  position:static;
  bottom:0;
  text-align: center;
  font-family: 'Poiret One',cursive;
  grid-column:  span 2;
  font-size: 25px;
}

@media (max-width: 800px) {
      .footer {
        font-size: 15px!important;
      }
    }

a{
  padding-bottom: 10px;
}

#user{
  float: right;
}

#instafeed img{
  border: 3px solid white;


}
